* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#main {
    background: #eee;
    margin: 40px auto;
    text-align: center;
    padding: 5px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color: #333;
    border:0px solid;
    border-radius: 10px;
}

#img-div {
    background: white;
    margin: 20px;
    padding-bottom: 10px;
}

#image {
    max-width: 100%; 
    display: block; 
    height: auto;
    margin: auto;
}

#tribute-info {
    text-align: unset;
    margin-top: 40px;
}

ul {
    margin: 0 auto;
    text-align: left;
    max-width: 550px;
}

li{
    margin: 10px;
}

#quote {
    font-style: italic;
}

